body {
  font-family: poppins;
  color: #7a7a7a;
  background-color: rgba(0, 0, 0, 0.4);
}
._title {
  color: black;
}
._day,
._date {
  color: rgba(0, 0, 0, 0.4);
}
._day {
  font-size: 32px;
}
._date {
  font-size: 80px;
  line-height: 0.8;
}
._moveTop {
  top: -17px;
}
i {
  font-size: 18px;
}
